<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="../Assessment_Template/Mummy_Template/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../Assessment_Template/Mummy_Template/js/jquery-1.7.2.js"></script>
<script language="javascript">
	jQuery.noConflict();
</script>
<script type="text/javascript" src="../Assessment_Template/Mummy_Template/js/dataBank.js"></script>
<script type="text/javascript" src="../Assessment_Template/Mummy_Template/js/swfobject.js"></script>
</head>
<body>
    <div id="loader"></div>
    <span class="sceneTitle"><div style="margin-right:12px; margin-left:12px;">$Heading</div></span>
    <div id="icp" align="center">
        <div id="FlashID">
        
        </div>
    </div>
</body>
<script type="text/javascript" src="../Assessment_Template/Mummy_Template/data/dbString.js"></script>
<!--<script type="text/javascript" src="../Assessment_Template/Mummy_Template/js/test.js"></script>-->
<script type="text/javascript" src="../Assessment_Template/Mummy_Template/js/template/template.js"></script>
</html>